head{
    
}
#cajero {
      text-align:center;
      width: 400px;
      margin-top: 30px;
      margin-left: 15px;
      margin-bottom: 25px;
      margin-right: 15;
      padding: 25px;
      border-radius: 5px; 
      background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
}
#screen{
    background-image:  radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );;

}